/* 
    Сайт разработан Олегом =)
*/

@font-face {
    font-family: "Roboto";
    src: url(../css/font/Roboto-Regular.ttf);
}

html,
body {
    background-color: #F6F6F6;
    font-family: "Roboto";
    transition: all 0.5s ease-in-out;
}

a {
    text-decoration: none;
    color: #404040;
}

a:hover,
button:hover {
    transform: scale(1.1);
    transition: transform 0.2s ease-in-out;
}

a:active,
button:active {
    transform: scale(1);
}

h1 {
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

h2 {
    color: #404040;
    font-size: 32px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

h3 {
    color: #404040;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

hr {
    margin: 100px auto;
    width: 1312px;
}

.txt {
    width: 1321px;
    color: #404040;
    text-align: center;
    font-size: 24px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

body {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: auto;
}

/* HEADER */

header {
    display: flex;
    align-items: center;
    margin: auto;
    width: 1312px;
    height: 100px;
    margin-top: 32px;
}

header a {
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

header a:hover {
    color: #119FC3;
}

.headLogo:hover {
    filter: brightness(1.2);
    transition: filter 0.5s ease-in-out;
}

.headLogo:active {
    transform: rotate3d(1, 1, 1, -20deg);
    transition: transform 0.3s ease-in-out;
}

.headNavigat {
    display: flex;
    margin: auto;
    gap: 36.5px;
}

.headPanel {
    display: flex;
    gap: 20px;
}

.headPanel button {
    border: none;
    background: none;
    cursor: pointer;
    width: 24px;
    height: 24px;
}

.headPanel button:nth-child(1) {
    display: none;
}

/* MAIN - первый экран */

main {
    margin-top: 40px;
    width: auto;
}

#screen {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.screen {
    background: url(../css/img/bg-screen.png) lightgray 0px -69.174px / 100% 120% no-repeat;
    filter: blur(0.5px);
    width: 1312px;
    height: 600px;
} 

.topScreen {
    background-color: #40404080;
    padding: 16px 0 21px 24px;
    width: 560px;
    height: 134px;
    margin: 138px 0 0 80px;
}

.topScreen H1 {
    color: #fff;
}

.topScreen p {
    color: #FFF;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.bottomScreen {
    display: inline-block;
    padding: 10px 24px;
    margin-top: 16px;
    margin-left: 80px;
    border-radius: 4px;
    border: 1px solid rgba(64, 64, 64, 0.50);
    background: rgba(64, 64, 64, 0.5);
    color: #fff;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

}

.bottomScreen:hover {
    transform: scale(1);
    transform: translateX(5px);
    filter: brightness(1.2);
    transition: filtee 1s ease-in, transform 0.3s ease-out;
}

.bottomScreen:active {
    filter: brightness(1);
    transform: translateX(3px);
    transition: filtee 1s ease-in, transform 0.3s ease-out;

}

.screenText {
    color: #404040;
    text-align: center;
    font-size: 24px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    width: 1312px;
}

.screenSlider {
    margin-top: 46px;
}

.screenSlider:before,
.screenSlider:after {
    content: "";
    background-color: #DCDCDC;
    width: 614px;
    height: 1px;
}

/* MAIN - оповещение */

#alert {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: var(--ui-elements-own, #F0F0F0);
    width: 100%;
    height: 100%;
    margin: auto;
    margin-top: 80px;
}

.alert H1 {
    color: #119FC3;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

/* MAIN - второй экран */

#service {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
}

.serviceItems {
    display: flex;
    gap: 70px;
    margin-top: 60px;
}

.item {
    display: flex;
    text-align: center;
    width: 276px;
}

.item p {
    color: #404040;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

.item span {
    color: #119FC3;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

.item:hover span {border-bottom: 1px dashed #119FC3;}
.item a {padding: 20px 0 20px 0;}
.item a:hover {box-shadow: 0 1px 5px -3px black;}

/* MAIN - третий экран */

#stand {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.stand {
    display: flex;
    width: 1312px;
    gap: 164px;
}

.standItems {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 328px;
    height: 279px;
    margin-top: 60px;
}

.standItems img {
    width: 128px;
    height: 128px;
}

.standItems p {
    color: #404040;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

/* MAIN - четвертый экран */

#declaration {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bg-declaration  {
    display: flex;
    justify-content: center;
    background-color: #F0F0F0;
    width: 100vw;
    height: 120vh;
}

.declaration {
    display: flex;
    flex-wrap: wrap;
    width: 1312px;
    gap: 32px;
    margin-top: 60px;
}

.news {
    background: var(--ui-elements-own, #F0F0F0);
    padding: 80px 80px;
    
}

.wrapNews {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    gap: 32px;
}

.new {
    width: 640px;
    height: 336px;
}

.new:hover span {
    filter: brightness(1.2);
}

.newImage {
    border-radius: 16px 16px 0px 0px;
    width: 640px;
    height: 255px;
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.06), 0px 0px 4px 0px rgba(0, 0, 0, 0.04);
}

.newImage img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.newFoot {
    display: flex;
    flex-direction: column;
    align-items: start;
    background-color: #fff;
}

.newFoot span {
    border-radius: 0px 160px 160px 0px;
    background: var(--colors-1, #119FC3);
    padding: 9px 16px;
    margin-top: -25px;
    color: #fff;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.newFoot p {
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-left: 16px;
}


/* СТАТЬИ */

#articles {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 32px;
    margin-top: 60px;
}

.article {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    width: 640px;
    height: 409px;
}

.articlesHead {
    background-image: url(../css/img/item/05.png);
    background-color: lightgray;
    background-repeat: no-repeat;
    background-position: center;
    width: 640px;
    height: 331px;
}

.articlesHead:before {
    content: url(../css/img/pp.svg);
    display: flex;
    justify-content: center;
    margin-top: 32px;
}

.articlesHead:after {
    content: " ";
    display: flex;
    margin: auto;
    background-color: #fff;
    padding: 2px;
    width: 259px;
    height: 2px;
    margin-top: 51px;
}

.articlesHead p {
    margin-top: 37px;
    color: #FFF;
    text-align: center;
    font-size: 32.695px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.articlesFoot {
    display: flex;
    text-align: center;
    margin-top: 12px;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}